 h1 {
    text-align: center;
    text-decoration: underline;
} 
.blue-items {
    color: blue;
}





h2 {
    text-decoration: underline;
    text-decoration-style: dotted;
}
.bold {
    font-weight: bold;
}